
.loginBackground {

    width: 100%;

}

.upperPart {

    width: 100%;
    /* height durch js */

    background-size: cover;

}

.lowerPart {

    width: 100%;

}

.verticalCenterBox {

    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.textCenter {

    text-align: center;

}

.logo {

    height: 80px;
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 0 0 10px);

    margin-bottom: 16px;

}

.loginTextbox {

    width: 60%;
    min-width: 240px;

    font-size: 12pt;
    padding: 10px 14px;
    border: solid white 2px;
    border-radius: 8px;

    outline: none;

    background-color: rgba(255, 255, 255, 0.95);
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;

    margin-bottom: 12px;

}

.registerTextbox {

    width: 80%;
    min-width: 240px;

}

.fabLogin {

    position: absolute !important;
    left: 50%;
    /* top durch js */
    transform: translate(-50%, -50%);
    background-color: #EF5350 !important;

}

.loginErrorMessage {

    color: #fff !important;
    margin-top: 8px !important;
    text-align: center;
    font-size: 12pt !important;
    font-weight: 500 !important;

}

.registerErrorMessage {

    color: #EF5350 !important;
    margin-top: 8px !important;
    text-align: center;
    font-size: 12pt !important;
    font-weight: 400 !important;

}

.registerSuccessMessage {

    color: #4CAF50 !important;
    margin-top: 8px !important;
    text-align: center;
    font-size: 12pt !important;
    font-weight: 400 !important;

}

.lowerTexts {

    font-weight: 300 !important;

}

.registerButton {

    background-color: white !important;
    color: #4CAF50 !important;

    font-size: 11pt !important;

    height: 40px;
    margin-bottom: 8px !important;

}

.passwordButton {

    background-color: white !important;
    color: #FF7043 !important;

    font-size: 11pt !important;

    height: 40px;

}

.copyrightText {

    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: center;
    color: #888;

}

.registerCloseButton {

    position: absolute !important;
    bottom: 8px;

}

.registerTitle {

    text-align: center;
    margin-top: 24px !important;

}

.paddingAround {

    padding: 18px;
    padding-top: 24px;

}

.registerExplainText {

    font-size: 14pt !important;

}

.loaderStufenpasswort {

    margin-right: 8px;

}

@media only screen and (min-width: 1200px) {

    .loginTextbox {
    
        width: 300px;

    }

    .registerTextbox {
    
        width: 300px;

    }

    .logo {

        margin-bottom: 32px;
        height: 100px;

    }

}